.button {
  margin: 2px 0;
  padding: 4px 0px 0px;
  min-width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: hsl(165, 100%, 44%);
  color: #FFFFFF;
  border: none;
  font-family: 'SB Sand Display Normal';
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: center;


  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    background: #c0dbd5;
    cursor: not-allowed;
  }
}