.button {
  margin: 8px 0;
  min-width: 112px;
  padding: 12px;
  border-radius: 20px;
  background: #00DFA9;
  color: #FFFFFF;
  border: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: center;


  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    background: #c0dbd5;
    cursor: not-allowed;
  }
}