.layer {
  position: relative;
  padding: 26px;
  width: 640px;
  height: 480px;

  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 19px 3px #34E9E940;
}

.title {
  margin: 0px 0px 18px;
  font-family: 'SB Sand Display';
  font-size: 24px;
  font-weight: normal;
  line-height: 29.05px;
  text-align: left;
}

.wrapper {
  height: 380px;
  display: grid;
  gap: 40px;
  grid-template-columns: 294px 1fr;
  grid-template-rows: 1fr;
}

.sideLeft {
  display: flex;
  flex-direction: column;
}

.scene {
  width: 294px;
  height: 294px;

  border: 1px solid hsla(0, 0%, 0%, 0.1);
}

.buttonsWrapper {
  margin: 12px 0 0;
  display: flex;
  justify-content: center;
}

.sideRight {
  display: flex;
  flex-direction: column;
}

.subTitle {
  margin: 0px 0px 4px;
  font-family: 'SB Sand Display';
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;

}

.subTitleWrapper {
  margin-bottom: 8px;
}

.coinControllWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  position: absolute;
  width: 294px;
  top: -120px;

  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 100px;
  text-align: center;

  opacity: 0;

  transition: opacity 1s ease-in-out;
}

.counterVisible {
  opacity: 1;
}

.coinWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coinImage {
  width: 64px;
  height: 64px;
}

.graphMargin {
  margin: 26px 0px 0px;
}