.wrapper {
  margin: 0px 0px 12px;
  display: flex;
  gap: 4px;
}

.button {
  padding: 4px 8px;
  background: #F4F8FA;
  border: none;
  outline: none;
  border-radius: 10px;

  cursor: pointer;
  font-family: 'SB Sand Display';

}

.active {
  font-weight: bold;
  background: #DEF0FF;
}