.label {
  margin: 0px 8px 0px 0px;
  font-family: 'SB Sans Display Normal';
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
}

.selectedInfo {
  font-family: 'SB Sans Display Normal';
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
}

.select {
  margin: 0px 0px 0px 8px;
  padding: 2px 2px;
  font-family: 'SB Sans Display Normal';
  font-size: 16px;
  font-weight: 400;
  line-height: 20.53px;
  text-align: left;

}