.label {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
}

.selectedInfo {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
}

.select {
  margin: 0px 0px 0px 12px;
  padding: 2px 2px;
}