.wrapper {
  position: relative;
  width: 640px;
  height: 480px;
  padding: 24px 20px;

  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 19px 3px #CDEEEC;
}

.title {
  margin: 0px 0px 12px;
  font-family: 'SB Sans Display Semi';
  font-size: 24px;
  font-weight: 600;
  line-height: 30.79px;
  text-align: left;
}

.subTitle {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;

}

.controllWrapper {
  display: flex;
  gap: 0px;
  margin: 0px 0px 0px;
  padding: 0px 0px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.calcWrapper {
  padding: 8px 0px 20px;
  display: grid;
  grid-template-columns: 120px 380px 84px;
  gap: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.eventTitle {
  height: 26px;
  padding: 4px 4px 2px;
  font-family: 'SB Sans Display Semi';
  font-size: 16px;
  font-weight: 600;
  line-height: 20.53px;
  text-align: left;
  background: rgba(9, 202, 155, 0.2);
}

.text {
  height: 26px;
  padding: 4px 4px 2px;
  font-family: 'SB Sans Display Normal';
  font-size: 16px;
  font-weight: 300;
  line-height: 20.53px;
  text-align: left;
}

.series {
  display: flex;
}

.calcTitle {
  display: flex;
  flex-direction: column;
  font-family: 'SB Sans Display Semi';
  font-size: 16px;
  font-weight: 600;
  line-height: 20.53px;
  text-align: left;
}

.formulaWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formulaTitle {
  // height: 26px;
  // padding: 4px 4px 2px;
  font-family: 'SB Sans Display Normal';
  font-size: 16px;
  font-weight: 300;
  line-height: 20.53px;
  text-align: left;
  // background: rgba(9, 202, 155, 0.2);
}

.active {
  background: rgba(9, 202, 155, 0.2);
  outline: 2px solid rgba(9, 202, 155, 0.2);
}

.calcData {
  margin: 4px 0px 0px;
  width: 84px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);

  font-size: larger;
}



.listWrapper {
  margin: 12px 0px 0px 0px;
  padding: 6px 0px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 150px;

  // border-bottom: 1px solid #00000020;
  overflow-y: scroll;
}

.list {
  padding: 3px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.activeList {
  background: rgba(9, 202, 155, 0.2);
}

.itemsWrapper {
  display: flex;
  gap: 8px;
}

.coinIcon {
  width: 22px;
  height: 22px;
}

.listInfo {
  margin: 2px 12px 0px 0px;
  font-family: 'SB Sans Display Normal';
  font-size: 16px;
  font-weight: 400;
  line-height: 20.53px;
  text-align: left;

}

.infoWrapper {
  margin: 12px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.infoLabel {
  margin: 0px 0px 6px;
  width: 210px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
}

.info {
  height: 24px;
  display: flex;
  font-family: serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14.52px;
  font-style: italic;
}

.d {
  display: block;
  position: relative;
  height: 16px;
  text-align: left;
}

.dValue {
  position: absolute;
  font-family: serif;
  font-style: italic;
}

.dWithoutValue {
  display: block;
  position: relative;
  height: 16px;
  text-align: left;
}

.value {
  font-family: serif;
  font-style: italic;
}
