.button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: #00DFA9;
  border-radius: 50%;

  border: none;
  outline: none;
  cursor: pointer;
}

.icon {
  width: 14px;
  height: 16px;
}