.label {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
}

.selectedInfo {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
}

.select {
  margin: 0px 0px 0px 12px;
  padding: 2px 2px;
}

.edgeLabel {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.edgeSelect {
  margin: 0px 0px 0px 0px;
  padding: 2px 2px;
}

.pointSelect {
  margin: 0px 0px 0px 0px;
  padding: 2px 2px;
}

.coinIcon {
  width: 22px;
  height: 22px;
}