

.inputWraper {
  margin: 8px 0px 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  // width: 156px;
  width: 294px;
  height: 32px;
  position: relative;

  // border: 1px solid #000;
}

.line {
  display: block;
  width: 6px;
  height: 1px;
  background-color: #000;
}

input[type=range] {
  height: 32px;
  -webkit-appearance: none;
  // width: 144px;
  width: 282px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #000000;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 25px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000000;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #000000;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #000000;
}

.label {
  position: absolute;
  left: 6px;
  top: 20px;
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.labelValue {
  top: -22px;
  font-family: 'SB Sans Display Normal';
  font-size: 12px;
  font-weight: normal;
  line-height: 14.52px;
  text-align: center;
  opacity: 1;
  pointer-events: none;
  white-space: nowrap;
}

.labelValue0 {
  position: absolute;
  left: 4px;
  transform: translateX(-50%);
}
.labelValue1 {
  position: absolute;
  left: calc(282px / 6 + 2px);
  transform: translateX(-50%);
}
.labelValue2 {
  position: absolute;
  left: calc(282px / 6 * 2 + 1px);
  transform: translateX(-50%);
}
.labelValue3 {
  position: absolute;
  left: calc(282px / 6 * 3 - 0px);
  transform: translateX(-50%);
}
.labelValue4 {
  position: absolute;
  left: calc(282px / 6 * 4 - 2px);
  transform: translateX(-50%);
}
.labelValue5 {
  position: absolute;
  left: calc(282px / 6 * 5 - 9px);
  transform: translateX(-50%);
}

.labelValue6 {
  position: absolute;
  left: calc(282px / 6 * 6 - 14px);
  transform: translateX(-50%);
}

.labelValue7 {
  position: absolute;
  left: calc(282px / 6 * 7 - 8px);
  transform: translateX(-50%);
}

.labelValue8 {
  position: absolute;
  left: calc(282px / 8 * 8 - 10px);
  top: 0;
  transform: translateX(-50%);
}

.lavelActive {
  opacity: 1;
}