.table {
  width: 238px;
  height: 322px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(6, 30px);
  grid-template-rows: repeat(auto-fill, 30px);
  overflow-y: scroll;

}

.diceIcon {
  width: 30px;
  margin-left: 12px;
}

.diceIconTable {
  width: 30px;
}