@font-face {
  font-family: 'Inter';
  src: url(../public/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: 'SB Sand Display';
  font-weight: bold;
  src: url(../public/fonts/SBSansDisplay-Bold.otf);
}

@font-face {
  font-family: 'SB Sand Display Normal';
  font-weight: normal;
  src: url(../public/fonts/SBSansDisplay-Regular.otf);
}

@font-face {
  font-family: 'SB Sand Display';
  font-weight: bolder;
  src: url(../public/fonts/SBSansDisplay-SemiBold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}